<a href="{{link}}" class="featureblock-link">
  <div class="featureblock">
    <div class="featureimage">
      {{#image}}<img src="{{.}}" alt="{{title}}">{{/image}}
    </div>
    <div class="feature">
      <h5>{{title}}</h5>
      {{text}}
    </div>
  </div>
</a>